<div class="row container" style="text-align: justify;">


  <h5 class="col-sm-6" style="float: left;">Nama </h5>
  <h5 class="col-sm-6" style="float: right;">: {{products.name}}</h5>
  <h5 class="col-sm-6" style="float: left;">Kode Produk </h5>
  <h5 class="col-sm-6" style="float: right;">: {{products.code}}</h5>
  <h5 class="col-sm-6" style="float: left;">Dekrispi </h5>
  <h5 class="col-sm-6" style="float: right;">: {{products.description}}</h5>
  <h5 class="col-sm-6" style="float: left;">Price </h5>
  <h5 class="col-sm-6" style="float: right;">: {{ products.price | number:'1.0':'en-US' }}
  </h5>
  <h5 class="col-sm-6" style="float: left;">Rating </h5>
  <h5 class="col-sm-6" style="float: right;">: {{products.rating}} ★</h5>


</div>
