body {
  background: lightblue;
}



.box {
  height: 200px;
  background: chocolate;

  margin-bottom: 10px;
  max-width: 200px;


}

.box-green {
  height: 200px;
  background: green;

  margin-bottom: 10px;
  max-width: 200px;

}
