<h1 style="font-style: italic;opacity: 50%; text-align: center;">
  Fun Facts About Countries
</h1>
<div style=" text-align: center;margin-bottom: 100px;">
  <button *ngIf="!MainShown" class="btn btn-dark" (click)="isMain()"> Go Back To Home Page</button>
  <button *ngIf="MainShown" (click)="isMain()" class="btn btn-dark" style="margin-left: 10px;"> List of All
    Country</button>
</div>



<div *ngIf="MainShown" style="text-align: center;">

  <h1>Three Most Populated Countries</h1>
  <div class="row" style="margin-bottom: 50px;">

    <div class="col-sm-4" *ngFor="let popu of SortPopulate let i = index">
      <div class="box" *ngIf="i < 3 ">
        <h3>{{popu.name}}</h3>

        <h5>{{popu.population}}</h5>
        <h5>People</h5>
      </div>
    </div>

  </div>

  <h1 style="text-align: center;">Three Largest Countries</h1>
  <div class="row">

    <div class="col-sm-4" style="text-align: center; margin:auto" *ngFor="let con of SortArea let i = index ">
      <div class="box" *ngIf="i < 3 ">
        <h3>{{con.name}}</h3>

        <h5>{{con.area}}</h5>
        <h5>KM2</h5>
      </div>
    </div>

  </div>

</div>


<div *ngIf="!MainShown && !DetailShown">

  <h1 style="text-align: center;">List of every Country</h1>
  <div class="row">

    <div class="col-sm-4" *ngFor="let country of countries let i = index">
      <div class="box-green" (click)="isDetail(); fillID(i)">
        <h3 style="text-align: center;">{{country.name}}</h3>

        <h5 style="text-align: center;">{{country.population}}</h5>
        <h5 style="text-align: center;">People</h5>

      </div>
    </div>

  </div>

</div>

<div *ngIf="DetailShown && !MainShown">
  <app-country-detail-component [Iddata]="ID"></app-country-detail-component>
  <div style="text-align: center;">
    <button class="btn btn-danger" (click)="isDetail()">balik</button>
  </div>
</div>
