<div class="container">

  <h1>{{Iddata}}</h1>

  <div class="row">
    <h3 class="col-sm-6" style="float: left;">Capital:</h3>
    <h3 class="col-sm-6" style="float: right;">Wasington DC</h3>
    <h3 class="col-sm-6" style="float: left;">Area:</h3>
    <h3 class="col-sm-6" style="float: right;">4000000000</h3>
    <h3 class="col-sm-6" style="float: left;">Population:</h3>
    <h3 class="col-sm-6" style="float: right;">30000000000</h3>
    <h3 class="col-sm-6" style="float: left;">GDP: </h3>
    <h3 class="col-sm-6" style="float: right;">90000000000</h3>
    <h3 class="col-sm-6" style="float: left;">Currency: </h3>
    <h3 class="col-sm-6" style="float: right;">USD</h3>
  </div>

</div>
