<form #UpdateForm="ngForm">
  <h3 style="text-align: center;">Update Staff - ID: {{id}} </h3><br>
  {{test | json}}



  <mat-form-field class="inputWidth" appearance="standard">
    <p>Title</p>
    <input matInput [(ngModel)]="title" [formControl]="Title">
    <mat-error *ngIf="Title.invalid">{{getErrorMessageTitle()}}</mat-error>
  </mat-form-field>

  <mat-form-field class="inputWidth" appearance="legacy">
    <p>First Name</p>
    <input required matInput [(ngModel)]="firstName" [formControl]="FirstName">
    <mat-error *ngIf="FirstName.invalid">{{getErrorMessageFN()}}</mat-error>
  </mat-form-field>

  <mat-form-field class="inputWidth" appearance="legacy">
    <p>Last Name</p>
    <input required matInput [(ngModel)]="lastName" [formControl]="LastName">
    <mat-error *ngIf="LastName.invalid">{{getErrorMessageLN()}}</mat-error>
  </mat-form-field>

  <mat-form-field class="inputWidth" appearance="legacy">
    <p>Role</p>
    <input matInput [(ngModel)]="role" [formControl]="Role">
    <mat-error *ngIf="Role.invalid">{{getErrorMessageRole()}}</mat-error>
  </mat-form-field>

  <mat-form-field class="inputWidth" appearance="legacy">
    <p>Email</p>
    <input matInput [(ngModel)]="email" [formControl]="Email">
    <mat-error *ngIf="Email.invalid">{{getErrorMessageEmail()}}</mat-error>
  </mat-form-field>

  <mat-form-field class="inputWidth" appearance="legacy">
    <p>Password</p>
    <input type="password" matInput [(ngModel)]="password" [formControl]="Password">
    <mat-error *ngIf="Password.invalid">{{getErrorMessagePass()}}</mat-error>
  </mat-form-field>

  <mat-form-field class="inputWidth" appearance="legacy">
    <p>Confirm Password</p>
    <input type="password" matInput [(ngModel)]="confirmPassword" [formControl]="ConfirmPassword">
    <mat-error *ngIf="ConfirmPassword.invalid">{{getErrorMessageConPass()}}</mat-error>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button (click)="update()">Submit</button>
  </div>
</form>
<!-- 

*ngIf="!Title.invalid 
      && !FirstName.invalid
      && !LastName.invalid
      && !Role.invalid
      && !Email.invalid
      && !Password.invalid
      && !ConfirmPassword.invalid" -->
